@charset "UTF-8";
html {
  margin: 2%;
}
body {
  margin: auto; /* Centrerar sidan */
  max-width: 860px;
  font-family: sans-serif;
  font-size: 100%;
}

section,
header,
footer {
  outline: 1px solid red; /* Temporär */
}

header {
  text-align: center;
}

footer {
  margin-top: 3em;
  text-align: center;
  columns: #999;
}

.startpage {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.startpage header,
.startpage footer {
  flex: 0 0 100%;
}

.startpage section {
  flex: 0 0 22%;
}

.startpage h1 {
  font-size: 500%;
}

.tagline {
  font-size: 120%;
  padding: 0.5em; /* Avstånd innuti elementet till kantlinjen*/
  border-top: 3px double #00af64;
  border-bottom: 3px double #00af64;
  margin: 1em 0; /* Marginal utanför elementet, nedåt men inte uppåt */
}

.menu > h2 {
  margin: 0 0 1em;
  padding: 2em 0;
  background-color: #f5f5f5;
  text-align: center;
}
